@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@import "./variables";

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.grid {
  background-color: #fff;
  color: #444;
  /* Use flexbox */
  display: flex;

  .box {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    border: 1px rgba(#000, 0.3) dashed;

    /* Use box-sizing so that element's outerwidth will match width property */
    box-sizing: border-box;

    /* Allow box to grow and shrink, and ensure they are all equally sized */
    flex: 1 1 auto;
  }

  .handler {
    width: 2px;
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto;
    &::before {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      margin: 0 auto;
      background: rgba(#000, 0.3);
    }
  }
}
