@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "./variables";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.w-50 {
  width: 50%;
}

.text-center {
  text-align: center;
}

p {
  margin: 10px;
}

.card-grid {
  gap: 1rem;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

$input-focus-h: 245;
$input-focus-s: 100%;
$input-focus-l: 42%;
$input-border: #d5d8dc;

.form-preview,
.form {
  .input {
    font-size: 14px;
    border-radius: 4px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    font-size: Max(16px, 1em);
    border: 1.5px solid $input-border;
    transition: 180ms box-shadow ease-in-out;
  }

  .input:focus {
    border-color: hsl($input-focus-h, $input-focus-s, $input-focus-l);
    outline: 3px solid transparent;
    box-shadow: 0 0 0 3px
      hsla($input-focus-h, $input-focus-s, $input-focus-l + 40%, 0.8);
  }

  .input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
  }

  input[type="file"] {
    font-size: 0.9em;
    padding-top: 0.35rem;
  }

  textarea.input {
    resize: vertical;
  }

  .input[readonly] {
    border-style: dotted;
    cursor: not-allowed;
    color: #777;
  }

  .input[disabled] {
    $input-border: #ccc;
    background-color: #eee;
    cursor: not-allowed;
  }

  label {
    line-height: 1;
    margin-bottom: 10px;
    font-size: 1.125rem;
  }

  .input + label {
    margin-top: 2rem;
  }
}

.form-group {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
}
